header{
    background: blueviolet ;
    height: 48px;
    width: 100%;
    text-align: center;
    line-height: 12px;
    color: white;
    border-bottom: 3px dashed black;
    
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
